/* Mise en page du formulaire*/

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0px;
    background-color: #ffffe0;
}

select {
    width: 100%;
}

/* input#login-submit{
    color: white;
    background-color: green;
    font-size: large;
}

input#login-submit:hover {
    background-color: darkgreen;
    font-size: larger;
} */

.rounded-border{
    border : solid 2px black;
    border-radius: 10px;
}

/* Sélecteurs multiples pour l'élément <input> */

/* Pour tester */
.a_remplacer {
    background-color: blue;
}


/* 

i) Selecteur par attribut

input[type=submit] {
    color : red;
} 



ii) Selecteur hiérachique (enfant directe)

form>input{
    color : red;
} 



iii) Selecteur de voisin

div~input{
    color : red;
}



iv) avec :not

input:not(:last-child){
    color : red;
}

*/




/* Exercice supplémentaire */